extends ../includes/layout

block content
  include ../includes/header

  section.section
    .container
      .heading
        h1.title Login
        h2.subtitle For Administrator.

      hr

      each message in error
        .notification.is-danger= message

      form.content(
        method='post',
        action='/admin/login'
      )
        input(
          type='hidden',
          name='_csrf',
          value= csrfToken
        )
        p.control
          input.input(
            type='text',
            name='username',
            placeholder='username',
            required
          )
        p.control
          input.input(
            type='password',
            name='password'
            placeholder='password',
            required
          )
        p.control
          button.button.is-primary(
            type='submit'
          ) Login
